@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
:root {
  --primary-blue: rgb(28, 28, 185);
  --secondary-blue: #0909ff;
  --primary-white: #fff;
  --secondary-white: #f3f3f3;
  --accent-color: rgb(0, 183, 255);
  --fade-gray: rgb(222, 220, 220);
}
body {
  background-color: var(--primary-white);
  position: relative;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  word-spacing: 2px;
  overflow-x: hidden;
}

/*-------------------TAGS------------------*/
i {
  cursor: pointer;
}

.member-social-container i:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(248, 90, 38),
    yellow,
    rgb(0, 244, 0)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mos-text-fill-color: transparent;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  object-fit: cover;
  background: linear-gradient(to right, #333, #555, #888);
  background: linear-gradient(
    to bottom,
    var(--accent-color),
    var(--primary-blue)
  );
  color: white;
}
.main-banner-news-control {
  background: linear-gradient(
    to bottom,
    var(--accent-color),
    var(--primary-blue)
  );
}

.news-control-img-container,
.aside-article-img-container,
.sub-news-control {
  background: linear-gradient(
    to bottom,
    var(--accent-color),
    var(--primary-blue)
  );
}
/* ----------------------------JUMP TO TOP------------------------------------------------- */
/* Jump To Top */
.jump-to-top {
  background: linear-gradient(
    to bottom,
    var(--primary-blue) 20%,
    var(--accent-color),
    var(--secondary-blue)
  );
  border-radius: 1.875rem; /* 18px */
  padding: 0.3125rem; /* 5px */
  opacity: 0.8;
  position: fixed;
  top: 80%;
  right: 2%;
  z-index: 100;
}
.jump-to-top:hover {
  opacity: 1;
}
.jump-to-top-icon {
  color: white;
}
/* End of Jump To Top */
